body {
    background-color: blue;
    font-family: 'Mouse Memoirs', sans-serif;
    font-size: 30px;
    text-align: center;
}

button{
    color: orange;
    padding: 20px 50px;
    background-color: black;
    font-size: 30px;
    font-family: 'Mouse Memoirs', sans-serif;
    border: 3px solid orange;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 10px;
    
}

h1{
    font-family: 'Bubblegum Sans', cursive;
    background-color: orange;
    padding: 10px;
    border: 5px solid black;
    width: 300px;
    margin: 0 auto;
}

span{
    color: orange;
    text-shadow: black;
    font-size: 50px;
    text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
}

.flex{
display: flex;
flex-direction: column;
width: 200px;
margin: 0 auto;
}

@media only screen and (min-width: 650px) {
    .flex{
        display: unset;
        
    }

    button{
        margin: 0px 10px;
    }
}